@page "/"

<PageTitle>Home</PageTitle>


<div class="home">
    <h1>Добро пожаловать на Киноманию!</h1>
    <h2> Здесь вы найдете все свежие новости из мира кино </h2>
</div>

<style>
    .home {
        font-weight: bold;
        color: rgba(48, 61, 68, 1);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>


