@page "/news-list"
@using Microsoft.AspNetCore.Components.Routing
@inject NavigationManager NavigationManager
@inject dbapiContext context
@using Microsoft.EntityFrameworkCore;

<h2>Последние новости из мира кино</h2>
<hr />

<div class="news-list">
    @foreach (var block in blocks)
    {
        var totalWords = block.TextBlock.Split(' ').Length;
        var previewText = block.TextBlock;
        var textWords = block.TextBlock.Split(' ');

        if (totalWords > 25)
        {
            previewText = string.Join(' ', textWords.Take(25)) + "...";
        }

        <div class="news-card" @onclick="(() => NavigateToNews(block.BlockId))">
            <h3 class="news-title">@block.Title</h3>
            <p class="news-text">@previewText</p>
            <p class =" news-date"> @block.CreatedAt </p>
        </div>
    }
</div>

<style>
    .news-list {
        display: flex;
        gap: 15px;
        margin: auto auto;
        justify-content: center;
        flex-direction: row;
        align-content: center;
        align-items: stretch;
    }

    .news-card {
        cursor: pointer;
        padding: 15px;
        border-radius: 15px;
        background-color: rgba(139, 149, 150, 0.1);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        flex: 0 1 300px; /* flex-grow, flex-shrink, flex-basis */
        margin-bottom: 20px;
    }

    .news-title {
        font-size: 1.2em;
        margin-bottom: 10px;
        font-weight:bold;
        color: rgba(48, 61, 68, 1);
    }

    .news-text {
        font-size: 1em;
        line-height: 1.5;
        margin-bottom: 15px;
        color: rgba(48, 61, 68, 1);

    }

    .news-date {
        font-size: 0.9em;
        color: rgba(48, 61, 68, 1);
        text-align: left;
        margin-bottom: auto;
    }

    h2 {
        font-weight: bold;
        color: rgba(48, 61, 68, 1);
        text-align: center;
    }

    hr {
        border: none;
        margin-bottom: 1em;
        border-top: 2px solid rgba(48, 61, 68, 1);
    }
</style>

@code {
    private List<Block> blocks = new List<Block>();

    protected override async Task OnInitializedAsync()
    {
        blocks = await context.Blocks.ToListAsync();
    }

    private void NavigateToNews(int blockId)
    {
        NavigationManager.NavigateTo($"/news/{blockId}");
    }
}